$grey: #888888;
$red: #ff0002;
$header-nav-height: 64px;
$sidebar-left-width: 17rem;
$text-color-dark: #111111;
$avatar-diameter: 48px;
$avatar-margin: 10px;
.box-container {
	background: #fff;
	padding: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}